body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
}
#box {
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
#red {
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#green {
    background-color: green;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}