body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
}
#box {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content:flex-end;
    margin: 20px auto;
}
#red {
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#green {
    background-color: green;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}